SHELL=/bin/bash
PATH=/usr/local/bin:/usr/bin:/bin

0 * * * * cd /app && /usr/local/bin/python -m jina_clone fetch >> /var/log/jina-clone/fetch.log 2>&1
10 8  * * * cd /app && /usr/local/bin/python -m jina_clone briefing run --edition=morning >> /var/log/jina-clone/briefing.log 2>&1
10 20 * * * cd /app && /usr/local/bin/python -m jina_clone briefing run --edition=evening >> /var/log/jina-clone/briefing.log 2>&1
